body {
    font-family: "Microsoft YaHei", serif;
}

table {
    max-width: 100px;
}

.my-devlist > tbody > tr {
    cursor: pointer;
}

.my-btn-group {
    margin-bottom: 15px;
}

.my-ipt-url {
    width: 100%;
    border: 0;
    background-color: inherit;
}
.my-panel-intab {
    border: 0
}